{% extends "base.html" %}
{% block title %}Accueil - Little Lemon{% endblock %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-4">
        <h1 class="display-5 fw-bold">Bienvenue chez Little Lemon</h1>
        <p class="col-md-8 fs-5">Saveurs méditerranéennes, produits frais.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'reservation' %}">Réserver</a>
    </div>
</div>

<div class="row g-4">
    <div class="col-md-4">
        <div class="card h-100">
            <img src="{% static 'img/salade-grecque.jpg' %}" class="card-img-top" alt="Salade">
            <div class="card-body">
                <h5 class="card-title">Salade Grecque</h5>
                <p class="card-text">Ingrédients frais et locaux.</p>
            </div>
        </div>
    </div>
    <!-- autres cards -->
</div>
{% endblock %}
