{% extends "base.html" %}
{% block title %}Menu - Little Lemon{% endblock %}
{% block content %}
<h1 class="text-center my-4">Notre Menu</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="{% static 'img/bruschetta.jpg' %}" class="card-img-top" alt="Bruschetta">
            <div class="card-body">
                <h5 class="card-title">Bruschetta</h5>
                <p class="card-text">Tomates, basilic, huile d'olive.</p>
            </div>
            <div class="card-footer"><strong class="text-muted">8.50€</strong></div>
        </div>
    </div>
    <!-- autres plats -->
</div>
{% endblock %}